*{
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
  }
  .center{
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
  }


  .header-top {
    height: 710px;
    background-image: url(./image/header-top_star.svg), url(./image/Star\ 2.svg), url(./image/Star\ 3.svg), url(./image/Star\ 4.svg), url(./image/Star\ 5.svg);
    background-color: rgb(225, 255, 143);
    background-repeat: no-repeat,no-repeat, no-repeat, no-repeat,no-repeat;
    position: relative;
    background-position: 840px -350px, 64px 94px, 156px 69px, 1013px 568px, 948px 538px;

        
    &__title{
        padding-top: 196px;
        color: rgb(32, 32, 39);
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        letter-spacing: 0px;
        text-align: left;

    }

    &__description {
        color: rgb(32, 32, 39);
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
        padding-top: 24px;
        padding-bottom: 48px;
    }

    &__button{
        box-sizing: border-box;
        border: 1px solid rgb(32, 32, 39);
        border-radius: 60px;
        background: rgb(32, 32, 39);
        width: 247px;
        height: 66px;
        color: rgb(255, 255, 255);
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 0%;
        text-align: center;
        cursor: pointer;
        outline: none;

        &:hover{
            border: 1px solid rgb(32, 32, 39);
            background: rgb(255, 255, 255);
            color: rgb(32, 32, 39);
        }
    }

}
.header-scroll{ 
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(50px);
    background: rgb(188, 236, 48);
    max-height: 90px;
    overflow: hidden; 
  
    &__text{
        color: rgb(32, 32, 39);
        font-size: 30px;
        font-weight: 700;
        line-height: 110%;
        letter-spacing: 4%;
        text-align: left;
        text-transform: uppercase;
    }

    &__content{
        width: 3220px;
        height: 36px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 51px;
        overflow: hidden;
        padding: 27px 49px;
    }
}
.game-info{
    padding-bottom: 96px;
    background-image: url(./image/main\ Star.svg), url(./image/mainStar1.svg), url(./image/mainStar2.svg);
    background-color: rgb(32, 32, 39);
    background-repeat: no-repeat,no-repeat, no-repeat;
    background-position: 945px 55px, 37px 748px, 52px 800px;

    &__title{
        color: rgb(255, 255, 255);
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        letter-spacing: 0px;
        text-align: left;
        padding-top: 72px;
        padding-bottom: 24px;
    }

    &__description{
        max-width: 788px;
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
        padding-bottom: 72px;
    }

    &__list1{
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
        justify-content: center;
        align-items: flex-start;
    }

    &__list2{
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
        justify-content: center;
        align-items: flex-end;
    }
    &__item{
        max-width: 378px;
        border-radius: 30px;
        box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.13);
        background: rgb(255, 255, 255);
        &:hover{
            transform: scale(1.1);
            transition: transform 0.3s ease-in-out;
        }
    }


    &__data{
        padding: 32px 32px 36px 32px;
    }

    &__button{
        border-radius: 52.58px;
        background: rgb(247, 247, 247);
        color: rgb(32, 32, 39);
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 500;
        line-height: 110%;
        letter-spacing: 0px;
        text-align: left;
        padding: 8px 16px 10px 16px;
        border: 1px solid rgb(247, 247, 247);
    }

    &__name{
        color: rgb(32, 32, 39);
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
        letter-spacing: 0px;
        text-align: left;
        padding-top: 16px;
    }
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background: rgb(189, 237, 53);

    &__info{
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        letter-spacing: 0px;
    }

}
@import 'tablet';
@import 'mobile';
