* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header-top {
  height: 710px;
  background-image: url(./image/header-top_star.svg), url(./image/Star\ 2.svg), url(./image/Star\ 3.svg), url(./image/Star\ 4.svg), url(./image/Star\ 5.svg);
  background-color: rgb(225, 255, 143);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  position: relative;
  background-position: 840px -350px, 64px 94px, 156px 69px, 1013px 568px, 948px 538px;
}
.header-top__title {
  padding-top: 196px;
  color: rgb(32, 32, 39);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
}
.header-top__description {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 24px;
  padding-bottom: 48px;
}
.header-top__button {
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  width: 247px;
  height: 66px;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0%;
  text-align: center;
  cursor: pointer;
  outline: none;
}
.header-top__button:hover {
  border: 1px solid rgb(32, 32, 39);
  background: rgb(255, 255, 255);
  color: rgb(32, 32, 39);
}

.header-scroll {
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  background: rgb(188, 236, 48);
  max-height: 90px;
  overflow: hidden;
}
.header-scroll__text {
  color: rgb(32, 32, 39);
  font-size: 30px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 4%;
  text-align: left;
  text-transform: uppercase;
}
.header-scroll__content {
  width: 3220px;
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 51px;
  overflow: hidden;
  padding: 27px 49px;
}

.game-info {
  padding-bottom: 96px;
  background-image: url(./image/main\ Star.svg), url(./image/mainStar1.svg), url(./image/mainStar2.svg);
  background-color: rgb(32, 32, 39);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 945px 55px, 37px 748px, 52px 800px;
}
.game-info__title {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 72px;
  padding-bottom: 24px;
}
.game-info__description {
  max-width: 788px;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  padding-bottom: 72px;
}
.game-info__list1 {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  align-items: flex-start;
}
.game-info__list2 {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  align-items: flex-end;
}
.game-info__item {
  max-width: 378px;
  border-radius: 30px;
  box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.13);
  background: rgb(255, 255, 255);
}
.game-info__item:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
.game-info__data {
  padding: 32px 32px 36px 32px;
}
.game-info__button {
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: left;
  padding: 8px 16px 10px 16px;
  border: 1px solid rgb(247, 247, 247);
}
.game-info__name {
  color: rgb(32, 32, 39);
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 16px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  background: rgb(189, 237, 53);
}
.footer__info {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0px;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  .header-top {
    background-position: 220px -480px, 64px 94px, 156px 69px, 650px 568px, 500px 538px;
  }
  .game-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .game-info__title, .game-info__description {
    grid-column: span 2;
  }
  .game-info__item {
    grid-column: span 1;
  }
  .game-info__list1, .game-info__list2 {
    gap: 24px;
    align-items: stretch;
  }
  .game-info__item {
    max-width: 345px;
  }
  .game-info__image {
    width: 345px;
  }
}
@media (min-width: 768px) and (max-width: 833px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (max-width: 767px) {
  .header-top {
    height: 650px;
    background-image: url(./image/starBigMobile.svg), url(./image/Star1mobile.svg), url(./image/Star2\ mobile.svg), url(./image/Star3\ mobile.svg), url(./image/Star\ 4\ mobile.svg);
    background-color: rgb(225, 255, 143);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    position: relative;
    background-position: 215px -95px, 37px 97px, 91px 64px, 300px 555px, 275px 530px;
  }
  .header-top__title {
    padding-top: 147px;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
  }
  .header-top__description {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    padding-bottom: 36px;
  }
  .header-top__button {
    width: 285px;
    height: 55px;
    font-size: 16px;
    box-sizing: border-box;
    margin-left: 46px;
  }
  .header-top__button:hover {
    border: 1px solid rgb(32, 32, 39);
    background: rgb(32, 32, 39);
    color: rgb(255, 255, 255);
  }
  .header-scroll {
    max-height: 50px;
  }
  .header-scroll__text {
    font-size: 16px;
  }
  .header-scroll__content {
    width: 1670px;
    height: 20px;
    gap: 27.4px;
    padding: 15px 24px;
  }
  .header-scroll__image {
    width: 19.34px;
    height: 19.34px;
  }
  .game-info {
    display: none;
  }
  .footer {
    height: 100px;
  }
  .footer__info {
    font-size: 16px;
    line-height: 20px;
  }
}/*# sourceMappingURL=style.css.map */